[project]
	description = this is a hello world java application.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mark Koski (markk6)
[access "refs/for/refs/*"]
	read = group user/Mark Koski (markk6)
	push = group user/Mark Koski (markk6)
	label-Code-Review = -2..+2 group user/Mark Koski (markk6)
	label-Code-Review = -2..+2 group user/Mark Koski (markkoski)
	label-Verified = -1..+1 group user/Mark Koski (markk6)
	rebase = group user/Mark Koski (markk6)
	removeReviewer = group user/Mark Koski (markk6)
	submit = group user/Mark Koski (markk6)
[access "refs/heads/*"]
	read = group user/Mark Koski (markk6)
	create = group user/Mark Koski (markk6)
	push = +force group user/Mark Koski (markk6)
	pushMerge = group user/Mark Koski (markk6)
[access "refs/tags/*"]
	push = group user/Mark Koski (markk6)
	push = +force group user/Mark Koski (markk6)
